/system name host-name {{ device.name }}
/system dns
    network-instance mgmt
    search-list [
{%- for server in name_servers %}
        {{ server }}
{%- endfor %}
    ]
/system {
    ntp {
        admin-state enable
        network-instance mgmt
{%- for server in ntp_servers %}
        server {{ server }} {
           }
{%- endfor %}
        }
    }
/system snmp community {{ snmp_ro_community }}

{%- for interface in device.interfaces.all() %}
{%- if interface.enabled == true %}
/interface {{ interface.name }}
    admin-state enable
    {%- if interface.description != "" %}
    description "{{ interface.description }}"
    {%- endif %}
{%- if interface.mode == "tagged" %}
    vlan-tagging true
{%- endif %}
{%- for vlan in interface.tagged_vlans.all() %}
    subinterface {{ vlan.vid }} {
        description "{{ vlan.name }}"
        vlan {
            encap {
                single-tagged {
                    vlan-id {{ vlan.vid }}
                }
            }
        }
    }
{%- endfor %}
{%- endif %}
{%- endfor %}